# App: AWS Customer CRUD
# Package: project_root
# File: requirements.txt
# Version: 0.0.8
# Author: Bobwares
# Date: Fri Jun  6 02:53:51 UTC 2025
# Description: Python dependencies for Lambda function.
#

boto3>=1.26.0
pydantic[email]>=1.10.2
aws-lambda-powertools>=1.27.0
python-jose>=3.3.0
jsonschema>=4.18.0
