# App: AWS Customer CRUD
# Package: project_root
# File: requirements.txt
# Version: 0.0.9
# Author: Bobwares
# Date: Sat Jun 07 01:10:48 UTC 2025
# Description: Python dependencies for Lambda function.
#

boto3>=1.26.0
pydantic[email]>=1.10.2
aws-lambda-powertools>=1.27.0
python-jose>=3.3.0
jsonschema>=4.18.0
requests>=2.31.0
